################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/AppCode/bin/Debug
/AppCode/obj/Debug
/.vs/FatturaElettronica.XMLNodes/v16/Server/sqlite3/db.lock
/.vs/FatturaElettronica.XMLNodes/v16/Server/sqlite3
/.vs
/AppCode/obj
/CodiceEsempio/WinFormCShap/.vs/WinFormCShap/v16
/CodiceEsempio/WinFormCShap/bin/Debug
/CodiceEsempio/WinFormCShap/obj/Debug
/CodiceEsempio/WinFormVB/.vs/WinFormVB/v16
/CodiceEsempio/WinFormVB/bin/Debug
/CodiceEsempio/WinFormVB/obj/Debug
