################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/AppCode/bin/Debug
/AppCode/obj/Debug
